In [59]:
import pandas as pd

data = pd.read_csv("Activities.csv")

data.head()

,Activity Type,Date,Favorite,Title,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,...,Avg Power,Max Power,Steps,Decompression,Best Lap Time,Number of Laps,Moving Time,Elapsed Time,Min Elevation,Max Elevation
0,Running,2025-09-28 23:07:55,False,Fullerton Running,8.56,"1,035",01:14:14,141,150,3.1,...,358,577,"11,904",No,00:04:45.9,9,01:14:10,01:16:04,207,249
1,Running,2025-09-27 10:21:20,False,Fullerton Running,16.01,"1,944",02:10:28,153,177,4.1,...,382,494,"21,386",No,00:00:03.1,17,02:10:19,02:13:38,209,287
2,Treadmill Running,2025-09-26 09:25:42,False,Treadmill Running,5.00,539,00:52:20,129,140,2.0,...,285,347,"8,338",No,00:08:58.6,5,00:52:04,00:54:37,--,--
3,Running,2025-09-25 11:48:47,False,Fullerton Running,8.01,887,01:01:50,144,178,3.2,...,403,487,"10,314",No,00:00:02.5,9,01:01:42,01:03:08,207,245
4,Treadmill Running,2025-09-24 12:54:49,False,Treadmill Running,7.00,727,01:14:28,127,151,2.1,...,257,318,"11,922",No,00:02:58.8,7,01:13:43,01:16:52,--,--

In [60]:
data.columns.to_list()

['Activity Type',
 'Date',
 'Favorite',
 'Title',
 'Distance',
 'Calories',
 'Time',
 'Avg HR',
 'Max HR',
 'Aerobic TE',
 'Avg Run Cadence',
 'Max Run Cadence',
 'Avg Pace',
 'Best Pace',
 'Total Ascent',
 'Total Descent',
 'Avg Stride Length',
 'Avg Vertical Ratio',
 'Avg Vertical Oscillation',
 'Avg Ground Contact Time',
 'Avg GAP',
 'Normalized Power® (NP®)',
 'Training Stress Score®',
 'Avg Power',
 'Max Power',
 'Steps',
 'Decompression',
 'Best Lap Time',
 'Number of Laps',
 'Moving Time',
 'Elapsed Time',
 'Min Elevation',
 'Max Elevation']

In [61]:
#Cleaning Columns Dropping Uncessary ones

data = data[["Date", "Distance", "Calories", "Time", "Avg HR", "Max HR", "Avg Pace", "Best Pace", "Total Ascent", "Total Descent", "Steps"]]
data

,Date,Distance,Calories,Time,Avg HR,Max HR,Avg Pace,Best Pace,Total Ascent,Total Descent,Steps
0,2025-09-28 23:07:55,8.56,"1,035",01:14:14,141,150,8:40,5:45,26,46,"11,904"
1,2025-09-27 10:21:20,16.01,"1,944",02:10:28,153,177,8:09,6:36,230,203,"21,386"
2,2025-09-26 09:25:42,5.00,539,00:52:20,129,140,10:28,9:02,--,--,"8,338"
3,2025-09-25 11:48:47,8.01,887,01:01:50,144,178,7:43,6:48,98,79,"10,314"
4,2025-09-24 12:54:49,7.00,727,01:14:28,127,151,10:38,9:57,--,--,"11,922"
5,2025-09-23 19:53:50,8.56,"1,033",01:04:12,161,183,7:30,5:21,39,66,"10,686"
6,2025-09-22 21:19:42,7.02,862,00:57:43,150,165,8:14,5:47,92,105,"9,438"
7,2025-09-20 19:18:33,20.03,"2,482",02:55:27,152,174,8:46,6:28,266,285,"28,328"
8,2025-09-19 18:36:07,4.00,430,00:49:56,120,129,12:29,9:59,--,--,"7,676"
9,2025-09-18 21:36:23,5.06,631,00:44:22,145,160,8:46,6:49,56,69,"7,172"
10,2025-09-17 17:41:47,6.10,735,00:50:43,147,191,8:19,5:31,92,115,"7,324"
11,2025-09-16 17:39:32,5.01,592,00:32:56,174,190,6:35,6:12,56,75,"5,690"
12,2025-09-15 16:32:41,5.00,575,00:50:36,134,153,10:07,6:42,--,--,"8,046"
13,2025-09-14 11:17:28,13.15,"1,629",01:44:43,161,181,7:58,6:48,108,82,"17,412"
14,2025-09-13 19:23:52,7.01,840,00:51:23,161,186,7:20,5:48,75,102,"8,598"
15,2025-09-12 19:25:24,10.00,978,01:26:10,142,175,8:37,6:02,--,--,"13,426"
16,2025-09-10 20:17:49,10.00,"1,270",01:32:52,147,162,9:17,7:51,43,56,"14,882"
17,2025-09-09 20:26:04,10.01,"1,233",01:13:22,167,179,7:20,5:05,125,121,"12,302"
18,2025-09-07 20:14:34,17.18,"2,076",02:26:33,150,175,8:32,6:57,217,220,"23,660"
19,2025-09-06 21:47:21,4.00,435,00:36:30,139,178,9:08,6:49,--,--,"4,898"

In [62]:
#Filling in blank values
data["Total Ascent"] = data["Total Ascent"].str.replace("--", "0").astype(float)
data["Total Descent"] = data["Total Descent"].str.replace("--", "0").astype(float)
# This changes the entire rows to floats too

In [63]:
data.dtypes

Date              object
Distance         float64
Calories          object
Time              object
Avg HR             int64
Max HR             int64
Avg Pace          object
Best Pace         object
Total Ascent     float64
Total Descent    float64
Steps             object
dtype: object

In [64]:
#Need to change Calories, Time, Avg Pace, Best PAce, Steps into usable floats to work with
#Calories First
data["Calories"] = data["Calories"].str.replace(",", "").astype(float)
data["Calories"].mean()

np.float64(1046.65)

In [65]:
#Time
data["Time"] = pd.to_timedelta(data["Time"]).dt.total_seconds() / 60

In [66]:
#Pace
#Going to make a function
def pace_converter_func(pace):
    m, s = pace.split(":")
    m = float(m)
    s = float(s)
    s = s*(5/3)
    s = s/100
    final_pace = m+s
    return final_pace
pace_converter_func("19:00")

19.0

In [67]:
#Changing Pace here
data["Avg Pace"] = data["Avg Pace"].apply(pace_converter_func)
data["Avg Pace"].mean()

np.float64(8.73)