In [244]:
import pandas as pd

data = pd.read_csv("Activities.csv")

data.head()

,Activity Type,Date,Favorite,Title,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,...,Avg Power,Max Power,Steps,Decompression,Best Lap Time,Number of Laps,Moving Time,Elapsed Time,Min Elevation,Max Elevation
0,Running,2025-09-28 23:07:55,False,Fullerton Running,8.56,"1,035",01:14:14,141,150,3.1,...,358,577,"11,904",No,00:04:45.9,9,01:14:10,01:16:04,207,249
1,Running,2025-09-27 10:21:20,False,Fullerton Running,16.01,"1,944",02:10:28,153,177,4.1,...,382,494,"21,386",No,00:00:03.1,17,02:10:19,02:13:38,209,287
2,Treadmill Running,2025-09-26 09:25:42,False,Treadmill Running,5.00,539,00:52:20,129,140,2.0,...,285,347,"8,338",No,00:08:58.6,5,00:52:04,00:54:37,--,--
3,Running,2025-09-25 11:48:47,False,Fullerton Running,8.01,887,01:01:50,144,178,3.2,...,403,487,"10,314",No,00:00:02.5,9,01:01:42,01:03:08,207,245
4,Treadmill Running,2025-09-24 12:54:49,False,Treadmill Running,7.00,727,01:14:28,127,151,2.1,...,257,318,"11,922",No,00:02:58.8,7,01:13:43,01:16:52,--,--

In [245]:
#Changing Dates
data["Date"] = pd.to_datetime(data["Date"])

In [246]:
#Adding a week day column
data["Weekday"] = data["Date"].dt.day_name()

In [247]:
#Adding a week column
start_date = data["Date"].min()

# Create "week groups" relative to the start
data["Week"] = ((data["Date"] - start_date).dt.days // 7) + 1
data

,Activity Type,Date,Favorite,Title,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,...,Steps,Decompression,Best Lap Time,Number of Laps,Moving Time,Elapsed Time,Min Elevation,Max Elevation,Weekday,Week
0,Running,2025-09-28 23:07:55,False,Fullerton Running,8.56,"1,035",01:14:14,141,150,3.1,...,"11,904",No,00:04:45.9,9,01:14:10,01:16:04,207,249,Sunday,4
1,Running,2025-09-27 10:21:20,False,Fullerton Running,16.01,"1,944",02:10:28,153,177,4.1,...,"21,386",No,00:00:03.1,17,02:10:19,02:13:38,209,287,Saturday,3
2,Treadmill Running,2025-09-26 09:25:42,False,Treadmill Running,5.00,539,00:52:20,129,140,2.0,...,"8,338",No,00:08:58.6,5,00:52:04,00:54:37,--,--,Friday,3
3,Running,2025-09-25 11:48:47,False,Fullerton Running,8.01,887,01:01:50,144,178,3.2,...,"10,314",No,00:00:02.5,9,01:01:42,01:03:08,207,245,Thursday,3
4,Treadmill Running,2025-09-24 12:54:49,False,Treadmill Running,7.00,727,01:14:28,127,151,2.1,...,"11,922",No,00:02:58.8,7,01:13:43,01:16:52,--,--,Wednesday,3
5,Running,2025-09-23 19:53:50,False,Fullerton Running,8.56,"1,033",01:04:12,161,183,4.0,...,"10,686",No,00:00:02.6,17,01:04:08,01:06:11,191,250,Tuesday,3
6,Running,2025-09-22 21:19:42,False,Fullerton Running,7.02,862,00:57:43,150,165,3.2,...,"9,438",No,00:00:04.4,8,00:57:40,00:57:48,210,260,Monday,3
7,Running,2025-09-20 19:18:33,False,Fullerton Running,20.03,"2,482",02:55:27,152,174,4.3,...,"28,328",No,00:00:09.9,21,02:55:15,02:57:27,209,255,Saturday,2
8,Treadmill Running,2025-09-19 18:36:07,False,Treadmill Running,4.00,430,00:49:56,120,129,1.3,...,"7,676",No,00:06:10.7,5,00:49:02,00:51:45,--,--,Friday,2
9,Running,2025-09-18 21:36:23,False,Fullerton Running,5.06,631,00:44:22,145,160,2.8,...,"7,172",No,00:00:22.6,6,00:44:16,00:44:58,212,255,Thursday,2
10,Running,2025-09-17 17:41:47,False,Fullerton Running,6.10,735,00:50:43,147,191,3.4,...,"7,324",No,00:00:01.7,15,00:43:36,00:52:19,182,228,Wednesday,2
11,Running,2025-09-16 17:39:32,False,Fullerton Running,5.01,592,00:32:56,174,190,4.0,...,"5,690",No,00:00:02.4,6,00:32:54,00:32:56,204,228,Tuesday,2
12,Treadmill Running,2025-09-15 16:32:41,False,Treadmill Running,5.00,575,00:50:36,134,153,2.2,...,"8,046",No,00:00:48.2,7,00:49:56,00:51:50,--,--,Monday,2
13,Running,2025-09-14 11:17:28,False,Fullerton Running,13.15,"1,629",01:44:43,161,181,4.7,...,"17,412",No,00:01:18.4,14,01:44:31,01:48:20,224,288,Sunday,2
14,Running,2025-09-13 19:23:52,False,Fullerton Running,7.01,840,00:51:23,161,186,3.9,...,"8,598",No,00:00:03.6,8,00:51:17,00:52:05,196,255,Saturday,1
15,Treadmill Running,2025-09-12 19:25:24,False,Treadmill Running,10.00,978,01:26:10,142,175,3.2,...,"13,426",No,00:05:08.4,10,01:22:50,01:36:51,--,--,Friday,1
16,Running,2025-09-10 20:17:49,False,Fullerton Running,10.00,"1,270",01:32:52,147,162,3.3,...,"14,882",No,00:00:02.9,11,01:32:44,01:34:10,220,259,Wednesday,1
17,Running,2025-09-09 20:26:04,False,Fullerton Running,10.01,"1,233",01:13:22,167,179,4.4,...,"12,302",No,00:00:04.9,11,01:13:19,01:14:43,227,270,Tuesday,1
18,Running,2025-09-07 20:14:34,False,Fullerton Running,17.18,"2,076",02:26:33,150,175,3.9,...,"23,660",No,00:01:27.5,18,02:26:22,02:29:22,218,257,Sunday,1
19,Treadmill Running,2025-09-06 21:47:21,False,Treadmill Running,4.00,435,00:36:30,139,178,2.3,...,"4,898",No,00:04:15.6,4,00:29:08,00:38:23,--,--,Saturday,1

In [248]:
data.columns.to_list()

['Activity Type',
 'Date',
 'Favorite',
 'Title',
 'Distance',
 'Calories',
 'Time',
 'Avg HR',
 'Max HR',
 'Aerobic TE',
 'Avg Run Cadence',
 'Max Run Cadence',
 'Avg Pace',
 'Best Pace',
 'Total Ascent',
 'Total Descent',
 'Avg Stride Length',
 'Avg Vertical Ratio',
 'Avg Vertical Oscillation',
 'Avg Ground Contact Time',
 'Avg GAP',
 'Normalized PowerÂ® (NPÂ®)',
 'Training Stress ScoreÂ®',
 'Avg Power',
 'Max Power',
 'Steps',
 'Decompression',
 'Best Lap Time',
 'Number of Laps',
 'Moving Time',
 'Elapsed Time',
 'Min Elevation',
 'Max Elevation',
 'Weekday',
 'Week']

In [249]:
#Cleaning Columns Dropping Uncessary ones

data = data[["Date", "Week", "Weekday", "Distance", "Calories", "Time", "Avg HR", "Max HR", "Avg Pace", "Best Pace", "Total Ascent", "Total Descent", "Steps"]]
data

,Date,Week,Weekday,Distance,Calories,Time,Avg HR,Max HR,Avg Pace,Best Pace,Total Ascent,Total Descent,Steps
0,2025-09-28 23:07:55,4,Sunday,8.56,"1,035",01:14:14,141,150,8:40,5:45,26,46,"11,904"
1,2025-09-27 10:21:20,3,Saturday,16.01,"1,944",02:10:28,153,177,8:09,6:36,230,203,"21,386"
2,2025-09-26 09:25:42,3,Friday,5.00,539,00:52:20,129,140,10:28,9:02,--,--,"8,338"
3,2025-09-25 11:48:47,3,Thursday,8.01,887,01:01:50,144,178,7:43,6:48,98,79,"10,314"
4,2025-09-24 12:54:49,3,Wednesday,7.00,727,01:14:28,127,151,10:38,9:57,--,--,"11,922"
5,2025-09-23 19:53:50,3,Tuesday,8.56,"1,033",01:04:12,161,183,7:30,5:21,39,66,"10,686"
6,2025-09-22 21:19:42,3,Monday,7.02,862,00:57:43,150,165,8:14,5:47,92,105,"9,438"
7,2025-09-20 19:18:33,2,Saturday,20.03,"2,482",02:55:27,152,174,8:46,6:28,266,285,"28,328"
8,2025-09-19 18:36:07,2,Friday,4.00,430,00:49:56,120,129,12:29,9:59,--,--,"7,676"
9,2025-09-18 21:36:23,2,Thursday,5.06,631,00:44:22,145,160,8:46,6:49,56,69,"7,172"
10,2025-09-17 17:41:47,2,Wednesday,6.10,735,00:50:43,147,191,8:19,5:31,92,115,"7,324"
11,2025-09-16 17:39:32,2,Tuesday,5.01,592,00:32:56,174,190,6:35,6:12,56,75,"5,690"
12,2025-09-15 16:32:41,2,Monday,5.00,575,00:50:36,134,153,10:07,6:42,--,--,"8,046"
13,2025-09-14 11:17:28,2,Sunday,13.15,"1,629",01:44:43,161,181,7:58,6:48,108,82,"17,412"
14,2025-09-13 19:23:52,1,Saturday,7.01,840,00:51:23,161,186,7:20,5:48,75,102,"8,598"
15,2025-09-12 19:25:24,1,Friday,10.00,978,01:26:10,142,175,8:37,6:02,--,--,"13,426"
16,2025-09-10 20:17:49,1,Wednesday,10.00,"1,270",01:32:52,147,162,9:17,7:51,43,56,"14,882"
17,2025-09-09 20:26:04,1,Tuesday,10.01,"1,233",01:13:22,167,179,7:20,5:05,125,121,"12,302"
18,2025-09-07 20:14:34,1,Sunday,17.18,"2,076",02:26:33,150,175,8:32,6:57,217,220,"23,660"
19,2025-09-06 21:47:21,1,Saturday,4.00,435,00:36:30,139,178,9:08,6:49,--,--,"4,898"

In [250]:
#Filling in blank values
data["Total Ascent"] = data["Total Ascent"].str.replace("--", "0").astype(int)
data["Total Descent"] = data["Total Descent"].str.replace("--", "0").astype(int)
# This changes the entire rows to floats too

/var/folders/z5/sl5m8j4x253fdkftjccg38tw0000gn/T/ipykernel_18953/1630142744.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Total Ascent"] = data["Total Ascent"].str.replace("--", "0").astype(int)
/var/folders/z5/sl5m8j4x253fdkftjccg38tw0000gn/T/ipykernel_18953/1630142744.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Total Descent"] = data["Total Descent"].str.replace("--", "0").astype(int)

In [251]:
data.dtypes

Date             datetime64[ns]
Week                      int64
Weekday                  object
Distance                float64
Calories                 object
Time                     object
Avg HR                    int64
Max HR                    int64
Avg Pace                 object
Best Pace                object
Total Ascent              int64
Total Descent             int64
Steps                    object
dtype: object

In [252]:
#Need to change Calories, Time, Avg Pace, Best PAce, Steps into usable floats to work with
#Calories First
data["Calories"] = data["Calories"].str.replace(",", "").astype(int)
data["Calories"].mean()

/var/folders/z5/sl5m8j4x253fdkftjccg38tw0000gn/T/ipykernel_18953/3545623105.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Calories"] = data["Calories"].str.replace(",", "").astype(int)

np.float64(1046.65)

In [253]:
#Time
data["Time"] = pd.to_timedelta(data["Time"]).dt.total_seconds() / 60

/var/folders/z5/sl5m8j4x253fdkftjccg38tw0000gn/T/ipykernel_18953/4196360474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Time"] = pd.to_timedelta(data["Time"]).dt.total_seconds() / 60

In [254]:
#Pace
#Going to make a function
def pace_converter_func(pace):
    m, s = pace.split(":")
    m = float(m)
    s = float(s)
    s = s*(5/3)
    s = s/100
    final_pace = m+s
    return final_pace
pace_converter_func("19:00")

19.0

In [255]:
#Changing Pace here
data["Avg Pace"] = data["Avg Pace"].apply(pace_converter_func)
data["Avg Pace"].mean()

/var/folders/z5/sl5m8j4x253fdkftjccg38tw0000gn/T/ipykernel_18953/311461469.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Avg Pace"] = data["Avg Pace"].apply(pace_converter_func)

np.float64(8.73)

In [256]:
#Best Pace Change
data["Best Pace"] = data["Best Pace"].apply(pace_converter_func)
data["Best Pace"].mean()

/var/folders/z5/sl5m8j4x253fdkftjccg38tw0000gn/T/ipykernel_18953/2110529399.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Best Pace"] = data["Best Pace"].apply(pace_converter_func)

np.float64(6.814166666666665)

In [257]:
#Steps
data["Steps"] = data["Steps"].str.replace(",", "").astype(int)
data["Steps"].mean()

/var/folders/z5/sl5m8j4x253fdkftjccg38tw0000gn/T/ipykernel_18953/3451081654.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Steps"] = data["Steps"].str.replace(",", "").astype(int)

np.float64(12170.1)

In [258]:
data["Distance"].describe()

count    20.00000
mean      8.83550
std       4.54519
min       4.00000
25%       5.04750
50%       7.51500
75%      10.00250
max      20.03000
Name: Distance, dtype: float64

In [259]:
#Looking at data over 10 miles
data[data["Distance"] >= 10]
amount = (data["Distance"] > 10).sum()

In [260]:
#Data under 10 miles
under_10_data = data[data["Distance"] < 10]
under_10_data

,Date,Week,Weekday,Distance,Calories,Time,Avg HR,Max HR,Avg Pace,Best Pace,Total Ascent,Total Descent,Steps
0,2025-09-28 23:07:55,4,Sunday,8.56,1035,74.233333,141,150,8.666667,5.750000,26,46,11904
2,2025-09-26 09:25:42,3,Friday,5.00,539,52.333333,129,140,10.466667,9.033333,0,0,8338
3,2025-09-25 11:48:47,3,Thursday,8.01,887,61.833333,144,178,7.716667,6.800000,98,79,10314
4,2025-09-24 12:54:49,3,Wednesday,7.00,727,74.466667,127,151,10.633333,9.950000,0,0,11922
5,2025-09-23 19:53:50,3,Tuesday,8.56,1033,64.200000,161,183,7.500000,5.350000,39,66,10686
6,2025-09-22 21:19:42,3,Monday,7.02,862,57.716667,150,165,8.233333,5.783333,92,105,9438
8,2025-09-19 18:36:07,2,Friday,4.00,430,49.933333,120,129,12.483333,9.983333,0,0,7676
9,2025-09-18 21:36:23,2,Thursday,5.06,631,44.366667,145,160,8.766667,6.816667,56,69,7172
10,2025-09-17 17:41:47,2,Wednesday,6.10,735,50.716667,147,191,8.316667,5.516667,92,115,7324
11,2025-09-16 17:39:32,2,Tuesday,5.01,592,32.933333,174,190,6.583333,6.200000,56,75,5690
12,2025-09-15 16:32:41,2,Monday,5.00,575,50.600000,134,153,10.116667,6.700000,0,0,8046
14,2025-09-13 19:23:52,1,Saturday,7.01,840,51.383333,161,186,7.333333,5.800000,75,102,8598
19,2025-09-06 21:47:21,1,Saturday,4.00,435,36.500000,139,178,9.133333,6.816667,0,0,4898

In [261]:
data.sort_values("Avg Pace")

,Date,Week,Weekday,Distance,Calories,Time,Avg HR,Max HR,Avg Pace,Best Pace,Total Ascent,Total Descent,Steps
11,2025-09-16 17:39:32,2,Tuesday,5.01,592,32.933333,174,190,6.583333,6.200000,56,75,5690
17,2025-09-09 20:26:04,1,Tuesday,10.01,1233,73.366667,167,179,7.333333,5.083333,125,121,12302
14,2025-09-13 19:23:52,1,Saturday,7.01,840,51.383333,161,186,7.333333,5.800000,75,102,8598
5,2025-09-23 19:53:50,3,Tuesday,8.56,1033,64.200000,161,183,7.500000,5.350000,39,66,10686
3,2025-09-25 11:48:47,3,Thursday,8.01,887,61.833333,144,178,7.716667,6.800000,98,79,10314
13,2025-09-14 11:17:28,2,Sunday,13.15,1629,104.716667,161,181,7.966667,6.800000,108,82,17412
1,2025-09-27 10:21:20,3,Saturday,16.01,1944,130.466667,153,177,8.150000,6.600000,230,203,21386
6,2025-09-22 21:19:42,3,Monday,7.02,862,57.716667,150,165,8.233333,5.783333,92,105,9438
10,2025-09-17 17:41:47,2,Wednesday,6.10,735,50.716667,147,191,8.316667,5.516667,92,115,7324
18,2025-09-07 20:14:34,1,Sunday,17.18,2076,146.550000,150,175,8.533333,6.950000,217,220,23660
15,2025-09-12 19:25:24,1,Friday,10.00,978,86.166667,142,175,8.616667,6.033333,0,0,13426
0,2025-09-28 23:07:55,4,Sunday,8.56,1035,74.233333,141,150,8.666667,5.750000,26,46,11904
9,2025-09-18 21:36:23,2,Thursday,5.06,631,44.366667,145,160,8.766667,6.816667,56,69,7172
7,2025-09-20 19:18:33,2,Saturday,20.03,2482,175.450000,152,174,8.766667,6.466667,266,285,28328
19,2025-09-06 21:47:21,1,Saturday,4.00,435,36.500000,139,178,9.133333,6.816667,0,0,4898
16,2025-09-10 20:17:49,1,Wednesday,10.00,1270,92.866667,147,162,9.283333,7.850000,43,56,14882
12,2025-09-15 16:32:41,2,Monday,5.00,575,50.600000,134,153,10.116667,6.700000,0,0,8046
2,2025-09-26 09:25:42,3,Friday,5.00,539,52.333333,129,140,10.466667,9.033333,0,0,8338
4,2025-09-24 12:54:49,3,Wednesday,7.00,727,74.466667,127,151,10.633333,9.950000,0,0,11922
8,2025-09-19 18:36:07,2,Friday,4.00,430,49.933333,120,129,12.483333,9.983333,0,0,7676

In [262]:
data.sort_values("Distance")

,Date,Week,Weekday,Distance,Calories,Time,Avg HR,Max HR,Avg Pace,Best Pace,Total Ascent,Total Descent,Steps
19,2025-09-06 21:47:21,1,Saturday,4.00,435,36.500000,139,178,9.133333,6.816667,0,0,4898
8,2025-09-19 18:36:07,2,Friday,4.00,430,49.933333,120,129,12.483333,9.983333,0,0,7676
12,2025-09-15 16:32:41,2,Monday,5.00,575,50.600000,134,153,10.116667,6.700000,0,0,8046
2,2025-09-26 09:25:42,3,Friday,5.00,539,52.333333,129,140,10.466667,9.033333,0,0,8338
11,2025-09-16 17:39:32,2,Tuesday,5.01,592,32.933333,174,190,6.583333,6.200000,56,75,5690
9,2025-09-18 21:36:23,2,Thursday,5.06,631,44.366667,145,160,8.766667,6.816667,56,69,7172
10,2025-09-17 17:41:47,2,Wednesday,6.10,735,50.716667,147,191,8.316667,5.516667,92,115,7324
4,2025-09-24 12:54:49,3,Wednesday,7.00,727,74.466667,127,151,10.633333,9.950000,0,0,11922
14,2025-09-13 19:23:52,1,Saturday,7.01,840,51.383333,161,186,7.333333,5.800000,75,102,8598
6,2025-09-22 21:19:42,3,Monday,7.02,862,57.716667,150,165,8.233333,5.783333,92,105,9438
3,2025-09-25 11:48:47,3,Thursday,8.01,887,61.833333,144,178,7.716667,6.800000,98,79,10314
5,2025-09-23 19:53:50,3,Tuesday,8.56,1033,64.200000,161,183,7.500000,5.350000,39,66,10686
0,2025-09-28 23:07:55,4,Sunday,8.56,1035,74.233333,141,150,8.666667,5.750000,26,46,11904
15,2025-09-12 19:25:24,1,Friday,10.00,978,86.166667,142,175,8.616667,6.033333,0,0,13426
16,2025-09-10 20:17:49,1,Wednesday,10.00,1270,92.866667,147,162,9.283333,7.850000,43,56,14882
17,2025-09-09 20:26:04,1,Tuesday,10.01,1233,73.366667,167,179,7.333333,5.083333,125,121,12302
13,2025-09-14 11:17:28,2,Sunday,13.15,1629,104.716667,161,181,7.966667,6.800000,108,82,17412
1,2025-09-27 10:21:20,3,Saturday,16.01,1944,130.466667,153,177,8.150000,6.600000,230,203,21386
18,2025-09-07 20:14:34,1,Sunday,17.18,2076,146.550000,150,175,8.533333,6.950000,217,220,23660
7,2025-09-20 19:18:33,2,Saturday,20.03,2482,175.450000,152,174,8.766667,6.466667,266,285,28328

In [263]:
data

,Date,Week,Weekday,Distance,Calories,Time,Avg HR,Max HR,Avg Pace,Best Pace,Total Ascent,Total Descent,Steps
0,2025-09-28 23:07:55,4,Sunday,8.56,1035,74.233333,141,150,8.666667,5.750000,26,46,11904
1,2025-09-27 10:21:20,3,Saturday,16.01,1944,130.466667,153,177,8.150000,6.600000,230,203,21386
2,2025-09-26 09:25:42,3,Friday,5.00,539,52.333333,129,140,10.466667,9.033333,0,0,8338
3,2025-09-25 11:48:47,3,Thursday,8.01,887,61.833333,144,178,7.716667,6.800000,98,79,10314
4,2025-09-24 12:54:49,3,Wednesday,7.00,727,74.466667,127,151,10.633333,9.950000,0,0,11922
5,2025-09-23 19:53:50,3,Tuesday,8.56,1033,64.200000,161,183,7.500000,5.350000,39,66,10686
6,2025-09-22 21:19:42,3,Monday,7.02,862,57.716667,150,165,8.233333,5.783333,92,105,9438
7,2025-09-20 19:18:33,2,Saturday,20.03,2482,175.450000,152,174,8.766667,6.466667,266,285,28328
8,2025-09-19 18:36:07,2,Friday,4.00,430,49.933333,120,129,12.483333,9.983333,0,0,7676
9,2025-09-18 21:36:23,2,Thursday,5.06,631,44.366667,145,160,8.766667,6.816667,56,69,7172
10,2025-09-17 17:41:47,2,Wednesday,6.10,735,50.716667,147,191,8.316667,5.516667,92,115,7324
11,2025-09-16 17:39:32,2,Tuesday,5.01,592,32.933333,174,190,6.583333,6.200000,56,75,5690
12,2025-09-15 16:32:41,2,Monday,5.00,575,50.600000,134,153,10.116667,6.700000,0,0,8046
13,2025-09-14 11:17:28,2,Sunday,13.15,1629,104.716667,161,181,7.966667,6.800000,108,82,17412
14,2025-09-13 19:23:52,1,Saturday,7.01,840,51.383333,161,186,7.333333,5.800000,75,102,8598
15,2025-09-12 19:25:24,1,Friday,10.00,978,86.166667,142,175,8.616667,6.033333,0,0,13426
16,2025-09-10 20:17:49,1,Wednesday,10.00,1270,92.866667,147,162,9.283333,7.850000,43,56,14882
17,2025-09-09 20:26:04,1,Tuesday,10.01,1233,73.366667,167,179,7.333333,5.083333,125,121,12302
18,2025-09-07 20:14:34,1,Sunday,17.18,2076,146.550000,150,175,8.533333,6.950000,217,220,23660
19,2025-09-06 21:47:21,1,Saturday,4.00,435,36.500000,139,178,9.133333,6.816667,0,0,4898

In [274]:
data[data["Week"] == 1].describe()

,Date,Week,Distance,Calories,Time,Avg HR,Max HR,Avg Pace,Best Pace,Total Ascent,Total Descent,Steps
count,6,6.0,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,2025-09-10 08:15:50.666666752,1.0,9.700000,1138.666667,81.138889,151.000000,175.833333,8.372222,6.422222,76.666667,83.166667,12961.000000
min,2025-09-06 21:47:21,1.0,4.000000,435.000000,36.500000,139.000000,162.000000,7.333333,5.083333,0.000000,0.000000,4898.000000
25%,2025-09-08 08:17:26.500000,1.0,7.757500,874.500000,56.879167,143.250000,175.000000,7.633333,5.858333,10.750000,14.000000,9524.000000
50%,2025-09-10 08:21:56.500000,1.0,10.000000,1105.500000,79.766667,148.500000,176.500000,8.575000,6.425000,59.000000,79.000000,12864.000000
75%,2025-09-12 07:38:30.249999872,1.0,10.007500,1260.750000,91.191667,158.250000,178.750000,9.004167,6.916667,112.500000,116.250000,14518.000000
max,2025-09-13 19:23:52,1.0,17.180000,2076.000000,146.550000,167.000000,186.000000,9.283333,7.850000,217.000000,220.000000,23660.000000
std,NaN,0.0,4.380699,550.436796,38.418391,10.936178,7.884584,0.854834,0.980174,83.571925,83.762561,6369.569624